@page "/configuration"
@inject HttpClient Http
@inject SystemModel Model

<PageTitle>Configuration</PageTitle>

<h1>Configuration</h1>

<p>Planned stressors (aka. non-functional requirements).</p>

<table class="table">
    <thead>
        <tr>
            <th>Stressor</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var stressor in Model.PlannedStressors)
        {
            <tr>
                <td>@stressor</td>
            </tr>
        }
    </tbody>
</table>


<p>Unplanned stressors.</p>

<table class="table">
    <thead>
        <tr>
            <th>Stressor</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var stressor in Model.UnplannedStressors)
        {
            <tr>
                <td>@stressor</td>
            </tr>
        }
    </tbody>
</table>
